/* -----------------for pie------------------- */
.pagin>ul>li>a>span, .prev>span,.next>span{
display: none;
}
.pagin>ul>li>a:hover>span, .pagin>ul>li.active>a>span, .prev:hover>span,.next:hover>span{
display: block;
}
.jqTransformSelectWrapper{position: relative; behavior: url(js/PIE.htc); }